[Unit]
Description=Thesis monitor HPC & Ressources
After=multi-user.target

[Service]
Type=simple
Restart=on-failure
User=root
ExecStart=/bin/bash -c 'cd /root/BA_Thesis_PI/monitors/monitor1 && source env/bin/activate && python3 main.py'

[Install]
WantedBy=multi-user.target
