[Unit]
Description=Thesis monitor
After=multi-user.target

[Service]
Type=simple
Restart=on-failure
User=root
ExecStart=/bin/bash -c 'cd /root/BA_Thesis_ds/monitor1 && source monitor_env/bin/activate && python main.py'

[Install]
WantedBy=multi-user.target
