[Unit]
Description=Thesis monitor HPC & Ressources
After=multi-user.target

[Service]
Type=simple
Restart=on-failure
User=root
WorkingDirectory=BA_Thesis_ds/monitors/monitor1/binary
ExecStart=/root/BA_Thesis_ds/monitors/monitor1/binary/main


[Install]
WantedBy=multi-user.target
