[Unit]
Description=Huertas Monitor
After=multi-user.target

[Service]
Type=simple
Restart=on-failure
User=root
ExecStart=/bin/bash /root/BA_Thesis_ds/monitor2/new_sampler_50tmp.sh

[Install]
WantedBy=multi-user.target
