[Unit]
Description=System Call Monitor
After=multi-user.target

[Service]
Type=simple
Restart=on-failure
User=root
EnvironmentFile=/etc/systemd/system/m3.env
ExecStart=/bin/bash /root/BA_Thesis_PI/monitors/monitor3/monitor.sh -d $RSYNCF -i $TMPF -t $SECONDS

[Install]
WantedBy=multi-user.target
